.frame{
  width: 70%;
  height: 60vh;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
}
.special{
  width: 60%;
}
.frame-card{
  padding: 20px;
}
.frame-content{
  margin: auto;
}
@media (max-width: 576px) {
  .frame{
    height: 43vh;
    padding-top: 18px;
    width: 98%;
  }
}